
        body{
          background-image: url("tsunami-clipart-tsunami.jpg");
          background-size: cover;
          
        }
        h1{
          color: purple;
          text-align: center;
          
        }
        ul{
          color: grey;
        }
        h3{
          text-align: center;
        }
        table,td{
        border: 1px solid black;
        }
        #tr{
        float: left;
        width: 1px;
        height: 1px;
        }
        #tr1{
          float: right;
          
        }
    
